# milvus folders
volumes/

# python folders
__pycache__/
.pytest_cache/

# project folders
.Notes/
.vscode/

# data folders
data/
processed_data/

# temporyr until i find a better vid
test_video.mp4

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
